{
  "name": "week4",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "_scss/abstracts/__abstracts-dir.scss",
      "imports": [
        "_scss/abstracts/_fonts.scss",
        "_scss/abstracts/_mixins.scss",
        "_scss/abstracts/_variables.scss"
      ]
    },
    {
      "path": "_scss/base/__base-dir.scss",
      "imports": [
        "_scss/base/_reset.scss",
        "_scss/base/_global.scss",
        "_scss/base/_typography.scss"
      ]
    },
    {
      "path": "_scss/components/__components-dir.scss",
      "imports": [
        "_scss/components/_container.scss"
      ]
    },
    {
      "path": "_scss/layouts/__layouts-dir.scss",
      "imports": [
        "_scss/layouts/_footer.scss"
      ]
    },
    {
      "path": "_scss/vendor/__vendor-dir.scss",
      "imports": [
        "_scss/vendor/bourbon/_bourbon.scss",
        "_scss/vendor/neat/_neat.scss",
        "_scss/vendor/fontawesome/_font-awesome.scss",
        "_scss/vendor/normalize/_normalize.scss",
        "_scss/vendor/bourbon/settings/_prefixer.scss",
        "_scss/vendor/bourbon/settings/_px-to-em.scss",
        "_scss/vendor/bourbon/settings/_asset-pipeline.scss",
        "_scss/vendor/bourbon/functions/_assign-inputs.scss",
        "_scss/vendor/bourbon/functions/_contains.scss",
        "_scss/vendor/bourbon/functions/_contains-falsy.scss",
        "_scss/vendor/bourbon/functions/_is-length.scss",
        "_scss/vendor/bourbon/functions/_is-light.scss",
        "_scss/vendor/bourbon/functions/_is-number.scss",
        "_scss/vendor/bourbon/functions/_is-size.scss",
        "_scss/vendor/bourbon/functions/_px-to-em.scss",
        "_scss/vendor/bourbon/functions/_px-to-rem.scss",
        "_scss/vendor/bourbon/functions/_shade.scss",
        "_scss/vendor/bourbon/functions/_strip-units.scss",
        "_scss/vendor/bourbon/functions/_tint.scss",
        "_scss/vendor/bourbon/functions/_transition-property-name.scss",
        "_scss/vendor/bourbon/functions/_unpack.scss",
        "_scss/vendor/bourbon/functions/_modular-scale.scss",
        "_scss/vendor/bourbon/helpers/_convert-units.scss",
        "_scss/vendor/bourbon/helpers/_directional-values.scss",
        "_scss/vendor/bourbon/helpers/_font-source-declaration.scss",
        "_scss/vendor/bourbon/helpers/_gradient-positions-parser.scss",
        "_scss/vendor/bourbon/helpers/_linear-angle-parser.scss",
        "_scss/vendor/bourbon/helpers/_linear-gradient-parser.scss",
        "_scss/vendor/bourbon/helpers/_linear-positions-parser.scss",
        "_scss/vendor/bourbon/helpers/_linear-side-corner-parser.scss",
        "_scss/vendor/bourbon/helpers/_radial-arg-parser.scss",
        "_scss/vendor/bourbon/helpers/_radial-positions-parser.scss",
        "_scss/vendor/bourbon/helpers/_radial-gradient-parser.scss",
        "_scss/vendor/bourbon/helpers/_render-gradients.scss",
        "_scss/vendor/bourbon/helpers/_shape-size-stripper.scss",
        "_scss/vendor/bourbon/helpers/_str-to-num.scss",
        "_scss/vendor/bourbon/css3/_animation.scss",
        "_scss/vendor/bourbon/css3/_appearance.scss",
        "_scss/vendor/bourbon/css3/_backface-visibility.scss",
        "_scss/vendor/bourbon/css3/_background.scss",
        "_scss/vendor/bourbon/css3/_background-image.scss",
        "_scss/vendor/bourbon/css3/_border-image.scss",
        "_scss/vendor/bourbon/css3/_calc.scss",
        "_scss/vendor/bourbon/css3/_columns.scss",
        "_scss/vendor/bourbon/css3/_filter.scss",
        "_scss/vendor/bourbon/css3/_flex-box.scss",
        "_scss/vendor/bourbon/css3/_font-face.scss",
        "_scss/vendor/bourbon/css3/_font-feature-settings.scss",
        "_scss/vendor/bourbon/css3/_hidpi-media-query.scss",
        "_scss/vendor/bourbon/css3/_hyphens.scss",
        "_scss/vendor/bourbon/css3/_image-rendering.scss",
        "_scss/vendor/bourbon/css3/_keyframes.scss",
        "_scss/vendor/bourbon/css3/_linear-gradient.scss",
        "_scss/vendor/bourbon/css3/_perspective.scss",
        "_scss/vendor/bourbon/css3/_placeholder.scss",
        "_scss/vendor/bourbon/css3/_radial-gradient.scss",
        "_scss/vendor/bourbon/css3/_selection.scss",
        "_scss/vendor/bourbon/css3/_text-decoration.scss",
        "_scss/vendor/bourbon/css3/_transform.scss",
        "_scss/vendor/bourbon/css3/_transition.scss",
        "_scss/vendor/bourbon/css3/_user-select.scss",
        "_scss/vendor/bourbon/addons/_border-color.scss",
        "_scss/vendor/bourbon/addons/_border-radius.scss",
        "_scss/vendor/bourbon/addons/_border-style.scss",
        "_scss/vendor/bourbon/addons/_border-width.scss",
        "_scss/vendor/bourbon/addons/_buttons.scss",
        "_scss/vendor/bourbon/addons/_clearfix.scss",
        "_scss/vendor/bourbon/addons/_ellipsis.scss",
        "_scss/vendor/bourbon/addons/_font-stacks.scss",
        "_scss/vendor/bourbon/addons/_hide-text.scss",
        "_scss/vendor/bourbon/addons/_margin.scss",
        "_scss/vendor/bourbon/addons/_padding.scss",
        "_scss/vendor/bourbon/addons/_position.scss",
        "_scss/vendor/bourbon/addons/_prefixer.scss",
        "_scss/vendor/bourbon/addons/_retina-image.scss",
        "_scss/vendor/bourbon/addons/_size.scss",
        "_scss/vendor/bourbon/addons/_text-inputs.scss",
        "_scss/vendor/bourbon/addons/_timing-functions.scss",
        "_scss/vendor/bourbon/addons/_triangle.scss",
        "_scss/vendor/bourbon/addons/_word-wrap.scss",
        "_scss/vendor/bourbon/_bourbon-deprecated-upcoming.scss",
        "_scss/vendor/neat/_neat-helpers.scss",
        "_scss/vendor/neat/grid/_private.scss",
        "_scss/vendor/neat/grid/_box-sizing.scss",
        "_scss/vendor/neat/grid/_omega.scss",
        "_scss/vendor/neat/grid/_outer-container.scss",
        "_scss/vendor/neat/grid/_span-columns.scss",
        "_scss/vendor/neat/grid/_row.scss",
        "_scss/vendor/neat/grid/_shift.scss",
        "_scss/vendor/neat/grid/_pad.scss",
        "_scss/vendor/neat/grid/_fill-parent.scss",
        "_scss/vendor/neat/grid/_media.scss",
        "_scss/vendor/neat/grid/_to-deprecate.scss",
        "_scss/vendor/neat/grid/_visual-grid.scss",
        "_scss/vendor/neat/grid/_display-context.scss",
        "_scss/vendor/neat/grid/_direction-context.scss",
        "_scss/vendor/fontawesome/_variables.scss",
        "_scss/vendor/fontawesome/_mixins.scss",
        "_scss/vendor/fontawesome/_path.scss",
        "_scss/vendor/fontawesome/_core.scss",
        "_scss/vendor/fontawesome/_larger.scss",
        "_scss/vendor/fontawesome/_fixed-width.scss",
        "_scss/vendor/fontawesome/_list.scss",
        "_scss/vendor/fontawesome/_bordered-pulled.scss",
        "_scss/vendor/fontawesome/_animated.scss",
        "_scss/vendor/fontawesome/_rotated-flipped.scss",
        "_scss/vendor/fontawesome/_stacked.scss",
        "_scss/vendor/fontawesome/_icons.scss",
        "_scss/vendor/fontawesome/_screen-reader.scss",
        "_scss/vendor/normalize/_support-for.scss",
        "_scss/vendor/normalize/normalize/_variables.scss",
        "_scss/vendor/normalize/normalize/_vertical-rhythm.scss",
        "_scss/vendor/normalize/normalize/_normalize-mixin.scss",
        "_scss/vendor/neat/functions/_private.scss",
        "_scss/vendor/neat/functions/_new-breakpoint.scss",
        "_scss/vendor/neat/settings/_grid.scss",
        "_scss/vendor/neat/settings/_visual-grid.scss",
        "_scss/vendor/neat/settings/_disable-warnings.scss"
      ]
    },
    {
      "path": "_scss/vendor/bourbon/_bourbon.scss",
      "imports": [
        "_scss/vendor/bourbon/settings/_prefixer.scss",
        "_scss/vendor/bourbon/settings/_px-to-em.scss",
        "_scss/vendor/bourbon/settings/_asset-pipeline.scss",
        "_scss/vendor/bourbon/functions/_assign-inputs.scss",
        "_scss/vendor/bourbon/functions/_contains.scss",
        "_scss/vendor/bourbon/functions/_contains-falsy.scss",
        "_scss/vendor/bourbon/functions/_is-length.scss",
        "_scss/vendor/bourbon/functions/_is-light.scss",
        "_scss/vendor/bourbon/functions/_is-number.scss",
        "_scss/vendor/bourbon/functions/_is-size.scss",
        "_scss/vendor/bourbon/functions/_px-to-em.scss",
        "_scss/vendor/bourbon/functions/_px-to-rem.scss",
        "_scss/vendor/bourbon/functions/_shade.scss",
        "_scss/vendor/bourbon/functions/_strip-units.scss",
        "_scss/vendor/bourbon/functions/_tint.scss",
        "_scss/vendor/bourbon/functions/_transition-property-name.scss",
        "_scss/vendor/bourbon/functions/_unpack.scss",
        "_scss/vendor/bourbon/functions/_modular-scale.scss",
        "_scss/vendor/bourbon/helpers/_convert-units.scss",
        "_scss/vendor/bourbon/helpers/_directional-values.scss",
        "_scss/vendor/bourbon/helpers/_font-source-declaration.scss",
        "_scss/vendor/bourbon/helpers/_gradient-positions-parser.scss",
        "_scss/vendor/bourbon/helpers/_linear-angle-parser.scss",
        "_scss/vendor/bourbon/helpers/_linear-gradient-parser.scss",
        "_scss/vendor/bourbon/helpers/_linear-positions-parser.scss",
        "_scss/vendor/bourbon/helpers/_linear-side-corner-parser.scss",
        "_scss/vendor/bourbon/helpers/_radial-arg-parser.scss",
        "_scss/vendor/bourbon/helpers/_radial-positions-parser.scss",
        "_scss/vendor/bourbon/helpers/_radial-gradient-parser.scss",
        "_scss/vendor/bourbon/helpers/_render-gradients.scss",
        "_scss/vendor/bourbon/helpers/_shape-size-stripper.scss",
        "_scss/vendor/bourbon/helpers/_str-to-num.scss",
        "_scss/vendor/bourbon/css3/_animation.scss",
        "_scss/vendor/bourbon/css3/_appearance.scss",
        "_scss/vendor/bourbon/css3/_backface-visibility.scss",
        "_scss/vendor/bourbon/css3/_background.scss",
        "_scss/vendor/bourbon/css3/_background-image.scss",
        "_scss/vendor/bourbon/css3/_border-image.scss",
        "_scss/vendor/bourbon/css3/_calc.scss",
        "_scss/vendor/bourbon/css3/_columns.scss",
        "_scss/vendor/bourbon/css3/_filter.scss",
        "_scss/vendor/bourbon/css3/_flex-box.scss",
        "_scss/vendor/bourbon/css3/_font-face.scss",
        "_scss/vendor/bourbon/css3/_font-feature-settings.scss",
        "_scss/vendor/bourbon/css3/_hidpi-media-query.scss",
        "_scss/vendor/bourbon/css3/_hyphens.scss",
        "_scss/vendor/bourbon/css3/_image-rendering.scss",
        "_scss/vendor/bourbon/css3/_keyframes.scss",
        "_scss/vendor/bourbon/css3/_linear-gradient.scss",
        "_scss/vendor/bourbon/css3/_perspective.scss",
        "_scss/vendor/bourbon/css3/_placeholder.scss",
        "_scss/vendor/bourbon/css3/_radial-gradient.scss",
        "_scss/vendor/bourbon/css3/_selection.scss",
        "_scss/vendor/bourbon/css3/_text-decoration.scss",
        "_scss/vendor/bourbon/css3/_transform.scss",
        "_scss/vendor/bourbon/css3/_transition.scss",
        "_scss/vendor/bourbon/css3/_user-select.scss",
        "_scss/vendor/bourbon/addons/_border-color.scss",
        "_scss/vendor/bourbon/addons/_border-radius.scss",
        "_scss/vendor/bourbon/addons/_border-style.scss",
        "_scss/vendor/bourbon/addons/_border-width.scss",
        "_scss/vendor/bourbon/addons/_buttons.scss",
        "_scss/vendor/bourbon/addons/_clearfix.scss",
        "_scss/vendor/bourbon/addons/_ellipsis.scss",
        "_scss/vendor/bourbon/addons/_font-stacks.scss",
        "_scss/vendor/bourbon/addons/_hide-text.scss",
        "_scss/vendor/bourbon/addons/_margin.scss",
        "_scss/vendor/bourbon/addons/_padding.scss",
        "_scss/vendor/bourbon/addons/_position.scss",
        "_scss/vendor/bourbon/addons/_prefixer.scss",
        "_scss/vendor/bourbon/addons/_retina-image.scss",
        "_scss/vendor/bourbon/addons/_size.scss",
        "_scss/vendor/bourbon/addons/_text-inputs.scss",
        "_scss/vendor/bourbon/addons/_timing-functions.scss",
        "_scss/vendor/bourbon/addons/_triangle.scss",
        "_scss/vendor/bourbon/addons/_word-wrap.scss",
        "_scss/vendor/bourbon/_bourbon-deprecated-upcoming.scss"
      ]
    },
    {
      "path": "_scss/vendor/fontawesome/_font-awesome.scss",
      "imports": [
        "_scss/vendor/fontawesome/_variables.scss",
        "_scss/vendor/fontawesome/_mixins.scss",
        "_scss/vendor/fontawesome/_path.scss",
        "_scss/vendor/fontawesome/_core.scss",
        "_scss/vendor/fontawesome/_larger.scss",
        "_scss/vendor/fontawesome/_fixed-width.scss",
        "_scss/vendor/fontawesome/_list.scss",
        "_scss/vendor/fontawesome/_bordered-pulled.scss",
        "_scss/vendor/fontawesome/_animated.scss",
        "_scss/vendor/fontawesome/_rotated-flipped.scss",
        "_scss/vendor/fontawesome/_stacked.scss",
        "_scss/vendor/fontawesome/_icons.scss",
        "_scss/vendor/fontawesome/_screen-reader.scss"
      ]
    },
    {
      "path": "_scss/vendor/neat/_neat-helpers.scss",
      "imports": [
        "_scss/vendor/neat/functions/_private.scss",
        "_scss/vendor/neat/functions/_new-breakpoint.scss",
        "_scss/vendor/neat/settings/_grid.scss",
        "_scss/vendor/neat/settings/_visual-grid.scss",
        "_scss/vendor/neat/settings/_disable-warnings.scss"
      ]
    },
    {
      "path": "_scss/vendor/neat/_neat.scss",
      "imports": [
        "_scss/vendor/neat/_neat-helpers.scss",
        "_scss/vendor/neat/grid/_private.scss",
        "_scss/vendor/neat/grid/_box-sizing.scss",
        "_scss/vendor/neat/grid/_omega.scss",
        "_scss/vendor/neat/grid/_outer-container.scss",
        "_scss/vendor/neat/grid/_span-columns.scss",
        "_scss/vendor/neat/grid/_row.scss",
        "_scss/vendor/neat/grid/_shift.scss",
        "_scss/vendor/neat/grid/_pad.scss",
        "_scss/vendor/neat/grid/_fill-parent.scss",
        "_scss/vendor/neat/grid/_media.scss",
        "_scss/vendor/neat/grid/_to-deprecate.scss",
        "_scss/vendor/neat/grid/_visual-grid.scss",
        "_scss/vendor/neat/grid/_display-context.scss",
        "_scss/vendor/neat/grid/_direction-context.scss",
        "_scss/vendor/neat/functions/_private.scss",
        "_scss/vendor/neat/functions/_new-breakpoint.scss",
        "_scss/vendor/neat/settings/_grid.scss",
        "_scss/vendor/neat/settings/_visual-grid.scss",
        "_scss/vendor/neat/settings/_disable-warnings.scss"
      ]
    },
    {
      "path": "_scss/vendor/normalize/_normalize.scss",
      "imports": [
        "_scss/vendor/normalize/_support-for.scss",
        "_scss/vendor/normalize/normalize/_variables.scss",
        "_scss/vendor/normalize/normalize/_vertical-rhythm.scss",
        "_scss/vendor/normalize/normalize/_normalize-mixin.scss"
      ]
    },
    {
      "path": "_scss/vendor/normalize/normalize/_import-now.scss",
      "imports": [
        "_scss/vendor/normalize/_normalize.scss",
        "_scss/vendor/normalize/_support-for.scss",
        "_scss/vendor/normalize/normalize/_variables.scss",
        "_scss/vendor/normalize/normalize/_vertical-rhythm.scss",
        "_scss/vendor/normalize/normalize/_normalize-mixin.scss"
      ]
    },
    {
      "path": "sass/main.scss",
      "imports": [
        "sass/abstracts/_variables.scss",
        "sass/abstracts/_functions.scss",
        "sass/abstracts/_mixins.scss",
        "sass/vendor/_normalize.scss",
        "sass/base/_base.scss",
        "sass/base/_fonts.scss",
        "sass/base/_typography.scss",
        "sass/base/_helpers.scss",
        "sass/layout/_header.scss",
        "sass/layout/_footer.scss",
        "sass/components/_button.scss",
        "sass/pages/_home.scss",
        "sass/themes/_default.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7881,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": true,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}