.admin-area {
}

.admin-f {
    width:500px;
}

.admin-f input {
    display:block;
    margin-bottom:15px;
}

.admin-f textarea {
    display:block;
}

.admin-f label {
    text-transform:capitalize;
}

#w-submit {
    display:inline;
    margin:0 auto;
}