.w-grid ul {
  list-style-type: none;
  padding: 0; }

.w-item {
  width: 200px;
  height: 200px;
  cursor: pointer;
  background-size: cover;
  float: left;
  margin: 20px;
  transition: 1s; }

.w-item:hover {
  opacity: 0.8;
  -webkit-filter: grayscale(70%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(70%); }
